body {
    font-family: Dubai;
    text-align: center;
    color: #7a89c4;
    background-color: #454d6b;
    padding: 0;
    margin: 0;
    }
   nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #d3d3d3;
    }
    
    nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    }
    
    ul li {
    margin-right: 12px;
    }
    
    ul li a {
    color: #7a89c4;
    text-decoration: none;
    }
    ul li a:hover {
    color: #272c3d;
    transition: .3s;
    }
    h1 {
    font-size: 32px;
    }
   .content {
   height: 500px;
   width: 500px;
   border-radius: 20px;
   overflow: hidden;
   position: absolute;
   top: 650px;
   left: 50%;
   transform: translate(-50%, -50%);
   }
   
   .navigation {
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translate(-50%);
   display: flex;
   }
   .bar {
   width: 70px;
   height: 17px;
   border: 2px solid white;
   margin: 3px;
   border-radius: 5px;
   cursor: pointer;
   transition: .4s;
   }
   
   .bar:hover {
   background-color: #EEE9E9;
   }
   
   input {
   display: none;
   }
   
   .slides {
   display: flex;
   width: 500%;
   height: 100%;
   }
   
   .slide {
   width: 20%;
   transition: .6s;
   }
   
   .slide img {
   width: 100%;
   height: 100%;
   }
   
   #slide1:checked ~ .s1 {
   margin-left: 0;
   }
   
   #slide2:checked ~ .s1 {
   margin-left: -20%;
   }
   
   #slide3:checked ~ .s1 {
   margin-left: -40%;
   }
   #slide4:checked ~ .s1 {
   margin-left: -60%;
   }
   #slide5:checked ~ .s1 {
   margin-left: -80%;
   }
   footer {
    width:100%;
    min-height: 250px;
    background: #272c3d;
    display: flex;
    }
    
    footer .boxs {
    width: 320px;
    min-height: 150px;
    padding: 20px;
    }
    
    footer .boxs:nth-child(4) {
    width: 400px;
    }
    
    .boxs h2 {
      margin-top: 50px;
    margin-bottom:20px;
    color: #7a89c4;
    }

    .boxs ul li {
    margin: 10px 0px;
    list-style: none;
    }
    
    .boxs ul li a {
    color: #5568ad;
    text-decoration: none;
    }
    
    .boxs ul li a:hover {
     color: #8494d1;
     }
     
    .boxs p {
    color: #5568ad;
    text-align: justify;
    font-size: 0.75rem;
    }
     footer .boxs {
     width: 100%;
     text-align: center;
     }
     footer .boxs:nth-child(4) {
     width: 100%
     }
  
   .botfot {
   background:#272c3d;
   text-align: center;
   }
   .botfot h3 {
   color: #8494d1;
   text-align:left;
   margin-left: 1em;
   padding-top: 1em;
   font-size: 30px;
   }
   .CR {
    font-size: 0.75rem;
    display: flex;
   }