@media (max-width: 768px) {
  :root {
    font-size: 16px;
  }
}
:root {
  font-size: 18px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
}
body {
  font-family: Dubai;
  text-align: center;
  color: #7a89c4;
  background-color: #454d6b;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid #d3d3d3;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

ul li {
  margin-right: 12px;
}

ul li a {
  color: #7a89c4;
  text-decoration: none;
}
ul li a:hover {
  color: #272c3d;
  transition: 0.3s;
}
h1 {
  font-size: 32px;
}

img {
  border: 0px ridge rgb(255, 255, 255);
  border-radius: 10px;
}

.logo img {
  border: none;
}

footer {
  width: 100%;
  min-height: 250px;
  background: #272c3d;
}

footer .boxs {
  min-height: 150px;
  padding: 0px;
  margin: 0px;
}

footer .boxs:nth-child(4) {
  width: 400px;
}

.boxs h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #7a89c4;
}

.boxs ul li {
  margin: 10px 0px;
  list-style: none;
}

.boxs ul li a {
  color: #5568ad;
  text-decoration: none;
}

.boxs ul li a:hover {
  color: #8494d1;
}

.boxs p {
  color: #5568ad;
  text-align: justify;
  font-size: 0.75rem;
}

footer .boxs {
  width: 100%;
  text-align: center;
}
footer .boxs:nth-child(4) {
  width: 100%;
}

.botfot {
  background: #272c3d;
  text-align: center;
}
.botfot h3 {
  color: #8494d1;
  text-align: left;
  margin-left: 1em;
  padding-top: 1em;
  font-size: 30px;
}
.CR {
  font-size: 0.75rem;
  display: inline;
}
