:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bolder;
}

body {
  font-family: Dubai;
  text-align: center;
  color: #7a89c4;
  background-color: #454d6b;
}
.velas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid #d3d3d3;
}
section h1 {
  margin: 1em;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

ul li {
  margin-right: 12px;
}

ul li a {
  color: #7a89c4;
  text-decoration: none;
}
ul li a:hover {
  color: #272c3d;
  transition: 0.3s;
}
h1 {
  font-size: 32px;
}

img {
  border: 0px ridge rgb(255, 255, 255);
  border-radius: 10px;
}

#ladoalado1 {
  padding-bottom: 20px;
}
.logo img {
  border: none;
}
.logo u {
  display: inline-flex;
  font-size: 24px;
  color: black;
  font-family: Dubai;
  text-decoration: none;
  font-weight: bolder;
}

footer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 250px;
  background: #272c3d;
  padding: 50px 0 0 0;
}

footer .boxs {
  min-height: 150px;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.boxs h2 {
  color: #7a89c4;
}

.boxs ul li {
  margin: 10px 0px;
  list-style: none;
}

.boxs ul li a {
  color: #5568ad;
  text-decoration: none;
}

.boxs ul li a:hover {
  color: #8494d1;
}

.boxs p {
  color: #5568ad;
  text-align: justify;
  font-size: 0.75rem;
}

.botfot {
  background: #272c3d;
  text-align: center;
}
.botfot h3 {
  text-align: left;
  color: #8494d1;
  margin-left: 1em;
  padding-top: 1em;
  font-size: 30px;
}
.CR {
  font-size: 0.75rem;
  display: inline;
}

/*FAQS*/
.faq_question {
    margin: 1em;
    padding: 0px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    color:#7a89c4;
    font-size: 18px;
}
 
.faq_answer_container {
    height: 0px;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 1.2rem;
    color:#272c3d;
    font-size: 16px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  :root {
    font-size: 18px;
  }
  nav {
    display: flex;
    padding: 20px;
    border-bottom: 2px solid #d3d3d3;
    justify-content: center;
  }
  nav h2 {
    display: none;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 250px;
    background: #272c3d;
    padding: 25px 0 0 0;
  }
}
